@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Clash Display';
  src: local('Clash Display'),
    url('../public/font/ClashDisplay.woff') format('woff'),
    url('../public/font/ClashDisplay.woff') format('woff');
}

@font-face {
  font-family: 'Object';
  src: local('Object'),
    url('../public/font/object/PPObjectSans-Heavy.woff') format('woff'),
    url('../public/font/object/PPObjectSans-Heavy.woff') format('woff');
}

body {
  scroll-behavior: smooth;
}

.bg-dots {
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#191919 0.9px, #000000 0.9px);
  background-size: 18px 18px;
}